@charset "utf-8";
.corsiva1 {
	font-family: "Monotype Corsiva";
	font-size: 35px;
	font-style: normal;
	color: #FFFFFF;
}
.corsiva2 {
	font-family: "Monotype Corsiva";
	font-size: 30px;
	font-style: normal;
	color: #FFFFFF;
}
.corsiva3 {
	font-family: "Monotype Corsiva";
	font-size: 25px;
	font-style: normal;
	color: #FFFFFF;
}
.corsiva4 {
	font-family: "Monotype Corsiva";
	font-size: 20px;
	font-style: normal;
	color: #FFFFFF;
}
.corsiva5 {
	font-family: "Monotype Corsiva";
	font-size: 15px;
	font-style: normal;
	color: #FFFFFF;
}
